<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.abhishek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:label="Recommendation System"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".WaterPlant" />
        <activity android:name=".Admin" />
        <activity android:name=".Analysis" />
        <activity android:name=".Support" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Barchart" />
        <activity android:name=".PieChartActivity" />
        <activity android:name=".Login" />
        <activity android:name=".NotificationView" />
        <activity android:name=".About" />
        <activity android:name=".Useage" />
        <activity android:name=".Problem"></activity>
    </application>

</manifest>